@page "/Collections/Form"

<h3>Form</h3>

<Example Header="Form"
         Text="A form">
    <Form>
        <Field>
            <label>First Name</label>
            <input placeholder="First Name" />
        </Field>
        <Field>
            <label>Last Name</label>
            <input placeholder="Last Name" />
        </Field>
        <Field>
            <SeCheckbox Label="I agree to the Terms and Conditions" />
        </Field>

        <Button Type="Submit">
            Submit
        </Button>
    </Form>
</Example>

@code {

}
